.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @media (max-width: 425px) {
    .modal {
      position: fixed;
      top: 0;
      left: 0;
    }
  }
  
  .videos-modal {
    position: fixed;
    top: 0;
    left: 0;
  }